.bodyPic {
  background-image: url("https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 2000px; 
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  
}
header {
  display: inline-block;
  font-family: 'Ledger', serif;
  color: whitesmoke;
  background-color: black;
  height: auto;
  width: 100%;
  opacity: .9;
  padding: 20px;
}

p {
  font-size: 20px;
  margin: 0px 0px 0px 30px;

}
h2{
  margin: 0px 0px 0px 90px;
}
.footer {
  position:absolute;
   bottom:0;
   width:100%;
}
main {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
  }

