.grid-container{
    width: 600px;
    height: 100%;
    background: rgba(60, 75, 124, 0.9);
    border-radius: 25px;
    box-shadow: 0px 1px 29px 7px rgba(0,0,0,0.79);
    padding: 0px 0px 20px 0px;
    text-align: center;
    font-family: 'Ledger', serif;
}

h3 {
    font-size: 50px;
    grid-column: 2 / 8 ;
    grid-row: 1;
    /* border: 10px solid black; */
    margin: 0px 0px 0px 0px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


}
h4 {
    font-size: 25px;
    color: rgb(236, 236, 236);
    /* grid-column: 2 / 8;
    grid-row: 1; */

}
h5 {
    padding: 20px 0px 10px 0px;
    font-size: 18px;
    /* grid-column: 2 / 8 ;
    grid-row: 1; */
    color: rgb(236, 236, 236);
}
img {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5%;
    /* grid-column: 1;
    grid-row: 1; */
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 300px;
}
p{
    font-size:20px;
    color: white
}
.del {
    padding: 3px;
    font-size: 17px;
    color: aliceblue;
    width: 30px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 20%;
    margin: 5px;
    position: initial;
}
.newComm{
    padding: 3px;
    font-size: 17px;
    color: aliceblue;
    width: 100px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 20%;
    margin: 5px;
}
form{
    margin:10px;
}
.update{
    display: none;
}
.showEdit{
    padding: 3px;
    font-size: 17px;
    color: aliceblue;
    width: 100px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 20%;
    margin: 5px;
}
.updBtn{
    padding: 3px;
    font-size: 17px;
    color: aliceblue;
    width: 100px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid black;
    border-radius: 20%;
    margin: 5px;
}
.comment{
    display: inline;
}
.commentBox{
    width: 600px;
}
